{% extends "layout.html" %}
{% block body %}

<h1>Current Status</h1>

<table>
  <thead>
    <tr>
      <th>Database</th>
      <th>Ashburn Synced</th>
      <th>Allen Synced</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in current_status|dictsort %}
    <tr>
      <td>{{ key }}</td>
      {% set class_name = "synced" if value['%s-Ashburn' % key].synced else "unsynced" %}
      <td class="{{class_name}}">{{ value['%s-Ashburn' % key].synced }}</td>
      {% set class_name = "synced" if value['%s-Allen' % key].synced else "unsynced" %}
      <td class="{{class_name}}">{{ value['%s-Allen' % key].synced }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
