<!doctype html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js" type="text/javascript" djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
      dojo.require("dojox.grid.DataGrid");


    </script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css"/>
    <style type="text/css">
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/grid/resources/Grid.css";
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/grid/resources/claroGrid.css";
      .dojoxGrid table { margin: 0; } html, body { width: 100%; height: 100%;
      margin: 0; }
    </style>
  </head>
  <body class=" claro ">
    {% block body %}{% endblock %}
  </body>
</html>
